.simply-countdown {
  overflow: hidden;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1.25rem;
  font-family: "Work Sans", sans-serif;
}

.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: var(--pink);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03), 0 0 0 1px rgba(0, 0, 0, 0.02);
  backdrop-filter: blur(10px);
  border-radius: 50%;
}

.simply-countdown > .simply-section > div {
  display: flex;
  flex-direction: column;
  line-height: 1;
  align-items: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: -0.025em;
}

.simply-countdown > .simply-section .simply-word {
  font-size: 0.6rem;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
